// Main styles
// -----------

body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;

  background-color: $background-color;

  margin-top: ($menu-height - 10);
  margin-bottom: ($menu-height - 10) * 2;
  padding: 15px;
}

footer {
  @extend .content;
  @include border-top;
}

.top-navbar {
  top: 0;
  left: 0;
  height: $menu-height;
  width: 100%;

  z-index: 1030;
  position: fixed;
  border-bottom: 1px solid $menu-color-lines;
  background-color: $menu-color;
}

.content {
  margin: auto;
  max-width: $content-width;
}

section {
  @include border-top;
}

// Helpers
// -------

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  display: inline-block;
  float: left;
}

.pull-right {
  display: inline-block;
  float: right;

  @media screen and (max-width: $menu-mobile-limit) {
    text-align: left;
    float: left;
  }
}

// Typography
// ----------
h1, h2, h3 {
  color: $header-color;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

p {
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  font-size: $font-size-base;

  @media screen and (max-width: $menu-mobile-limit) {
    font-size: $font-size-small;
  }
}

h3 {
  @include border-top;
}

h4 {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover { color: $link-color-inverse; }
}

a.inverse {
  text-decoration: none;
  color: $link-color-inverse;

  &:hover { color: $link-color; }
}

.subtitle {
  color: $subtitle-color;
}

.source-code {
  @extend p;
  font-family: $font-family-source;
}

// Hamburger menu
// --------------

.hamburger-list {
  a {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    text-rendering: optimizeLegibility;

    &::before {
      font-family: $icon-family-base;
    }
  }
}

// List items (with FontAwesome)
// -----------------------------

.fa-ul {
  > li {
    padding: 0.5em;
  }

  .fa-li {
    top: 0.742857em;
  }
}
