// Main styles
// -----------

body {
  background-color: $background-color;
  margin-top: ($menu-height - 10);
  padding: 15px;
}

.top-navbar {
  top: 0;
  left: 0;
  height: $menu-height;
  width: 100%;

  position: fixed;
  border-bottom: 1px solid $menu-color-lines;
  background-color: $menu-color;
}

.content {
  margin: auto;
  max-width: $content-width;
}

// Typography
// ----------

h1, h2, h3, h4, h5, h6, p {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

p {
  letter-spacing: $letter-spacing-base;
  font-size: $font-size-base;
  line-height: $line-height-base;

  @media screen and (max-width: $menu-mobile-limit) {
    font-size: 16px;
  }
}

// Hamburger menu
// --------------

.hamburger-list {
  a {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    text-rendering: optimizeLegibility;

    &::before {
      font-family: $icon-family-base;
    }
  }
}
