// Blog styles
// -----------

.top-navbar {
	top: 0;
	height: $menu-height;
	width: 100%;

	position: fixed;
	background-color: $menu-color;
}

.content {
    margin: $menu-height auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

h1, p {
	font-family: 'Open Sans';
	font-weight: 300;
}
