// Palette
// -------

// Thanks to: http://www.colourlovers.com/palette/3139573/Flat_Havana_Nights

$palette-first: #ecf0f1;
$palette-second: #1abc9c;
$palette-third: #16a085;
$palette-fourth: #2c3e50;
$palette-fifth: #e74c3c;
