// Base variables
// --------------

$background-color: #f8f8f8;
$content-width: 800px;
$menu-height: 60px;

// Typography
// ----------

// Font family
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base: "Open Sans", $font-family-sans-serif;
$font-family-source: "Source Code Pro", $font-family-monospace;
$icon-family-base: "FontAwesome";

// Colors
$header-color: $palette-third;
$subtitle-color: #666666;
$link-color: $palette-fifth;
$link-color-inverse: $palette-fourth;

// Size
$font-size-base: 20px;
$font-weight-base: 300;
$line-height-base: 1.5;
$letter-spacing-base: 0.03rem;

// Computed size
$font-size-large: ceil(($font-size-base * 1.30));
$font-size-small: ceil(($font-size-base * 0.80));

// Hamburger overrides
// -------------------

// Color settings
$menu-color: #ffffff;
$menu-color-text: $palette-third;
$menu-color-lines: #dbdbdb;

// Dimensions
$menu-height: 60px;

$menu-button-size: $font-size-large;
$menu-item-size: $font-size-large;

// Animations
$menu-transition-time: 0.3s;

// Mobile settings
$menu-mobile-limit: 767px;
