# Assemble
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Builds
public/
dist/
.sass-cache/
.tmp/

# Extra
pids
logs
results
assets/

# Grunt
npm-debug.log
node_modules

# IDE
*.sublime-*

# gh-pages build
.grunt/

# OSX
.DS_Store
