---
title: Home
heading: 'Hello world!'
lead: Welcome to my blog!
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>This blog has been built with Assemble.io and Gumby!</p>
  <p>A nice template and some contents will be available soon!</p>
</div>
