---
component: footer
---

<footer>
	<div class="pull-left"><a href="/about/" class="inverse">Emanuele Palazzetti?</a></div>
  <div class="pull-right text-right">
    Built with
    <a href="http://assemble.io/" class="inverse">Assemble.io</a>,
    <a href="http://purecss.io/" class="inverse">PureCSS</a>,
    <a href="http://sass-lang.com/" class="inverse">SASS</a> and <i class="fa fa-heart"></i><br/>
    Hosted on <a href="https://github.com/palazzem/git.palazzetti.me" class="inverse">Github pages</a>.
  </div>
</footer>
