---
component: navbar
---

<div class="top-navbar">
	<!-- Hamburger menu -->
	<a href="#" class="hamburger-button"><i class="fa fa-bars"></i></a>
	<nav class="hamburger-nav">
	<div class="hamburger-scroll">
	  <ul class="hamburger-list">
	    <li><a href="#" class="fa fa-cutlery item"> Eat it!</a></li>
	    <li><a href="#" class="fa fa-heart item"> Love it!</a></li>
	    <li><a href="#" class="fa fa-info-circle item"> Help</a></li>
	    <li><a href="#" class="fa fa-cog item"> Settings</a></li>
	  </ul>
	</div>
	</nav>
</div>
