---
component: navbar
---

<div class="top-navbar">
	<!-- Hamburger menu -->
	<a data-src="#" class="hamburger-button"><i class="fa fa-bars"></i></a>
	<nav class="hamburger-nav">
	<div class="hamburger-scroll">
	  <ul class="hamburger-list">
	    <li><a href="/" class="fa fa-home item"> /</a></li>
	    <li><a href="/about/" class="fa fa-question item"> About me</a></li>
	    <li><a href="/conferences/" class="fa fa-users item"> Conferences</a></li>
	  </ul>
	</div>
	</nav>
</div>
